In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import math

In [7]:
df = pd.read_csv('spambase.csv', header = None)
df = df.sample(frac=1).reset_index(drop = True)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
0,0.00,0.00,0.14,0.0,0.28,0.0,0.14,0.00,0.00,0.00,...,0.000,0.053,0.0,0.269,0.080,0.484,15.086,74,1222,1
1,0.00,0.00,1.31,0.0,0.00,0.0,0.00,1.31,0.00,0.00,...,0.000,0.279,0.0,0.139,0.000,0.000,2.130,15,49,0
2,0.00,0.58,0.58,0.0,0.00,0.0,0.00,0.58,0.58,7.55,...,0.000,0.192,0.0,0.192,0.000,0.096,1.526,10,58,1
3,0.27,0.27,0.00,0.0,0.83,0.0,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.000,0.084,0.000,1.231,6,101,0
4,0.00,0.00,0.00,0.0,0.00,0.0,0.00,0.00,0.00,0.00,...,0.112,0.000,0.0,0.000,0.000,0.000,1.617,11,55,0

analyzing data

In [8]:
#1/3 data for testing
test_data = df[-df.shape[0]//3:]
test_data_feature = test_data[np.r_[0:57]]
test_data_label = test_data[57]
#2/3 data for training
train_data = df[:-df.shape[0]//3]
train_data_feature = train_data[np.r_[0:57]]
train_data_label = train_data[57]

In [12]:
test_data_feature.head()

,0,1,2,3,4,5,6,7,8,9,...,47,48,49,50,51,52,53,54,55,56
3067,0.00,0.29,0.29,0.0,0.58,0.0,0.58,0.0,0.00,0.58,...,0.0,0.000,0.086,0.000,0.606,0.000,0.043,3.591,37,352
3068,0.00,0.00,0.00,0.0,0.00,0.0,0.00,0.0,0.00,0.29,...,0.0,0.091,0.637,0.045,0.000,0.000,0.000,3.552,37,373
3069,0.00,0.00,0.00,0.0,0.00,0.0,0.00,0.0,0.00,0.00,...,0.0,0.000,0.000,0.000,0.000,0.000,0.000,1.375,4,11
3070,0.00,0.00,0.00,0.0,0.00,0.0,0.00,0.0,0.00,0.00,...,0.0,0.000,0.000,0.000,0.986,0.000,0.000,8.000,38,80
3071,0.28,0.14,0.14,0.0,0.00,0.0,0.14,0.0,0.42,0.00,...,0.0,0.000,0.000,0.137,0.045,0.342,1.233,14.880,79,1622

In [13]:
test_data_label.head()

3067    1
3068    0
3069    0
3070    1
3071    1
Name: 57, dtype: int64